// colors.scss

$primary: #00796b;
//$secondary: #00796b;
//$light: #bef67a;
//$dark: #5a9216;

// Menu
$menubg: #00796b;
$catbg: #004c40;
$linkbg: #48a999;
$hoverbg: #80e8dd;

//$success:       #00ff00;
//$info:          #ff00ff;
//$warning:       #ffff00;
$danger: #b00020;
//$light:         #ffffff;
//$dark:          #cccccc;
