<div class="nav-side-menu">
  <div class="brand">S.M.R.A.E.M.B.</div>
  <i
    class="fa fa-bars fa-2x toggle-btn"
    data-target="#menu-content"
    data-toggle="collapse"
  ></i>
  <div class="menu-list">
    <ul class="menu-content collapse out" id="menu-content">
      <li>
        <a id="menu-link-home" href="#">
          <i class="fas fa-home"></i>
          Início
        </a>
      </li>

      <li *ngIf="userinfo.isadmin">
        <span class="sub-menu-title">
          <i class="fas fa-toolbox"></i>
          Administração
        </span>
        <ul class="sub-menu">
          <li>
            <a href="#">
              <i class="fas fa-tachometer-alt"></i>
              Painel de Controlo
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-users"></i>
              Utilizadores
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-wifi"></i>
              Kits
            </a>
          </li>
        </ul>
      </li>

      <li *ngIf="userinfo.isauthenticated">
        <span class="sub-menu-title">
          <i class="fas fa-cogs"></i>
          {{ userinfo.name }}
        </span>
        <ul class="sub-menu">
          <li>
            <a class="item" href="#">
              <i class="fas fa-user"></i>
              O meu perfil
            </a>
          </li>
          <li>
            <a class="item" href="#">
              <i class="fas fa-sign-out-alt"></i>
              Terminar sessão
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
